@page
@model ShopCaKoi.WebApplication.Pages.InforKoi.CreateModel

<h4>Koi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Koi.KoiId" class="control-label"></label>
                <input asp-for="Koi.KoiId" class="form-control" />
                <span asp-validation-for="Koi.KoiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Species" class="control-label"></label>
                <input asp-for="Koi.Species" class="form-control" />
                <span asp-validation-for="Koi.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Size" class="control-label"></label>
                <input asp-for="Koi.Size" class="form-control" />
                <span asp-validation-for="Koi.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Price" class="control-label"></label>
                <input asp-for="Koi.Price" class="form-control" />
                <span asp-validation-for="Koi.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
