USE [master]
GO
/****** Object:  Database [ShopCaKoiDB]    Script Date: 10/27/2024 11:22:59 PM ******/
CREATE DATABASE [ShopCaKoiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopCaKoiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopCaKoiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopCaKoiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopCaKoiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopCaKoiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopCaKoiDB]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [nvarchar](50) NOT NULL,
	[AccID] [nvarchar](50) NULL,
	[tripID] [nvarchar](50) NULL,
	[custom_request] [text] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[approved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultingStaff]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultingStaff](
	[IDNV] [nvarchar](50) NOT NULL,
	[assignedCustomers] [text] NULL,
	[quotationID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[CustomerPassword] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveringStaff]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveringStaff](
	[IDNV] [nvarchar](50) NOT NULL,
	[assignedDeliveries] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IDNV] [nvarchar](50) NOT NULL,
	[NameVN] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [nvarchar](50) NOT NULL,
	[customerID] [nvarchar](50) NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koi]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koi](
	[koiID] [nvarchar](50) NOT NULL,
	[species] [nvarchar](50) NULL,
	[age] [int] NULL,
	[size] [decimal](5, 2) NULL,
	[price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[koiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KoiFarm]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KoiFarm](
	[farm_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
	[location] [nvarchar](225) NULL,
	[description] [text] NULL,
	[contact_info] [nvarchar](100) NULL,
	[koiID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[farm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[IDNV] [nvarchar](50) NOT NULL,
	[pendingQuotations] [nvarchar](max) NULL,
	[quotationID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderKoi]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderKoi](
	[orderID] [nvarchar](50) NOT NULL,
	[customerID] [nvarchar](50) NULL,
	[quotationID] [nvarchar](50) NULL,
	[paymentStatus] [nvarchar](50) NULL,
	[orderDate] [date] NULL,
	[koiID] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTrip]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTrip](
	[orderID] [nvarchar](50) NOT NULL,
	[customerID] [nvarchar](50) NULL,
	[quotationID] [nvarchar](50) NULL,
	[paymentStatus] [nvarchar](50) NULL,
	[orderDate] [date] NULL,
	[tripID] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotation]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation](
	[quotationID] [nvarchar](50) NOT NULL,
	[orderID] [nvarchar](50) NULL,
	[amount] [decimal](18, 2) NULL,
	[approveStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[quotationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesStaff]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesStaff](
	[IDNV] [nvarchar](50) NOT NULL,
	[assignedOrders] [nvarchar](max) NULL,
	[quotationID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopCaKoiAccount]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopCaKoiAccount](
	[AccID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](90) NULL,
	[EmailAddress] [nvarchar](90) NULL,
	[Description] [nvarchar](140) NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip]    Script Date: 10/27/2024 11:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[tripID] [nvarchar](50) NOT NULL,
	[departureDate] [date] NULL,
	[arrivalDate] [date] NULL,
	[farm_id] [nvarchar](50) NULL,
	[koiID] [nvarchar](50) NULL,
	[price] [float] NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[tripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([AccID])
REFERENCES [dbo].[ShopCaKoiAccount] ([AccID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([tripID])
REFERENCES [dbo].[Trip] ([tripID])
GO
ALTER TABLE [dbo].[ConsultingStaff]  WITH CHECK ADD FOREIGN KEY([quotationID])
REFERENCES [dbo].[Quotation] ([quotationID])
GO
ALTER TABLE [dbo].[ConsultingStaff]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[Employee] ([IDNV])
GO
ALTER TABLE [dbo].[DeliveringStaff]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[Employee] ([IDNV])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[KoiFarm]  WITH CHECK ADD FOREIGN KEY([koiID])
REFERENCES [dbo].[Koi] ([koiID])
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[Employee] ([IDNV])
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD FOREIGN KEY([quotationID])
REFERENCES [dbo].[Quotation] ([quotationID])
GO
ALTER TABLE [dbo].[OrderKoi]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[OrderKoi]  WITH CHECK ADD FOREIGN KEY([koiID])
REFERENCES [dbo].[Koi] ([koiID])
GO
ALTER TABLE [dbo].[OrderKoi]  WITH CHECK ADD FOREIGN KEY([quotationID])
REFERENCES [dbo].[Quotation] ([quotationID])
GO
ALTER TABLE [dbo].[OrderTrip]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[OrderTrip]  WITH CHECK ADD FOREIGN KEY([tripID])
REFERENCES [dbo].[Trip] ([tripID])
GO
ALTER TABLE [dbo].[Quotation]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[OrderTrip] ([orderID])
GO
ALTER TABLE [dbo].[SalesStaff]  WITH CHECK ADD FOREIGN KEY([quotationID])
REFERENCES [dbo].[Quotation] ([quotationID])
GO
ALTER TABLE [dbo].[SalesStaff]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[Employee] ([IDNV])
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD FOREIGN KEY([farm_id])
REFERENCES [dbo].[KoiFarm] ([farm_id])
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD FOREIGN KEY([koiID])
REFERENCES [dbo].[Koi] ([koiID])
GO
USE [master]
GO
INSERT INTO Employee (IDNV, NameVN, Role) VALUES 
	('NV001', 'Mai Huy Hoang', 'Manager'),
    ('NV002', 'Nguyen Khanh Duong', 'SalesStaff'),
    ('NV003', 'Tran Quoc Viet', 'ConsultingStaff'),
    ('NV004', 'Nguyen Sang', 'DeliveringStaff');
	-- Thêm dữ liệu vào bảng Customer
INSERT INTO Customer (customerID, Name, Phone, Email, Address, CustomerPassword) VALUES 
    ('KH002', 'Bao Tram', '0987654321', 'baotram@gmail.com', 'Binh Duong', 'baotram123'),
    ('KH003', 'Thu Hoai', '0123445566', 'thuhoai@gmail.com', 'Phu Yen', 'thuhoai123');

-- Thêm dữ liệu vào bảng Koi
INSERT INTO Koi (koiID, species, size, price) VALUES 
    ('K001', 'Kohaku', 30.0, 1200.00),
    ('K002', 'Showa', 27.0, 1500.00);
-- Thêm dữ liệu vào bảng KoiFarm
INSERT INTO KoiFarm (farm_id, name, location, description, contact_info, koiID) VALUES 
    ('F001', 'Ho Ca Koi Yamakoshi', 'Yamakoshi', 'Specializes in Sanke Koi', 'yamakoshi@gmail.com', 'K001')
-- Thêm dữ liệu vào bảng Trip
INSERT INTO Trip (tripID, departureDate, arrivalDate, farm_id, koiID, price, description) VALUES 
    ('T001', '2024-10-05', '2024-10-06', 'F001', 'K001', 600.00, 'Visit Kohaku Farm'),
    ('T002', '2024-10-10', '2024-10-12', 'F001', 'K001', 800.00, 'Showa Koi Farm Tour');
-- Thêm dữ liệu vào bảng OrderTrip
INSERT INTO OrderTrip (orderID, customerID, quotationID, paymentStatus, orderDate, tripID, Quantity) VALUES 
    ('O001', 'KH002', 'Q001', 'Paid', '2024-09-15', 'T001', 3),
    ('O002', 'KH003', 'Q002', 'Pending', '2024-09-20', 'T002', 2);
-- Thêm dữ liệu vào bảng Quotation
INSERT INTO Quotation (quotationID, orderID, amount, approveStatus) VALUES 
    ('Q002', 'O001', 2000.00, 'Approved'),
    ('Q003', 'O002', 2500.00, 'Pending');
	-- Thêm dữ liệu vào bảng Manager
INSERT INTO Manager (IDNV, pendingQuotations, quotationID) VALUES 
    ('NV001', 'Quotation2, Quotation3', 'Q002');

-- Thêm dữ liệu vào bảng SalesStaff
INSERT INTO SalesStaff (IDNV, assignedOrders, quotationID) VALUES 
    ('NV002', 'Order1, Order2', 'Q003');

-- Thêm dữ liệu vào bảng ConsultingStaff
INSERT INTO ConsultingStaff (IDNV, assignedCustomers, quotationID) VALUES 
    ('NV003', 'Customer1, Customer2', 'Q002');

-- Thêm dữ liệu vào bảng DeliveringStaff
INSERT INTO DeliveringStaff (IDNV, assignedDeliveries) VALUES 
    ('NV004', 'Delivery1, Delivery2');
	-- Thêm dữ liệu vào bảng OrderKoi
INSERT INTO OrderKoi (orderID, customerID, quotationID, paymentStatus, orderDate, koiID, Quantity) VALUES 
    ('OK001', 'KH002', 'Q003', 'Paid', '2024-09-10', 'K001', 1),
    ('OK002', 'KH003', 'Q002', 'Pending', '2024-09-12', 'K002', 2);
	-- Thêm dữ liệu vào bảng Feedback
INSERT INTO Feedback (id, customerID, rating, comment) VALUES 
    ('FB001', 'KH002', 4, 'Good quality Koi fish.'),
    ('FB002', 'KH003', 3, 'Satisfactory service.');
	-- Thêm dữ liệu vào bảng ShopCaKoiAccount
INSERT INTO ShopCaKoiAccount (AccID, Password, EmailAddress, Description, Role) VALUES 
    ('ACC001', 'man123', 'manager@gmail.com', 'Manager Account', 1),
    ('ACC002', 'sale123', 'sale@gmail.com', 'Sales Staff Account', 2)
	-- Thêm dữ liệu vào bảng Booking
INSERT INTO Booking (BookingID, AccID, tripID, custom_request, status, created_at, approved_at) VALUES 
    ('BK001', 'ACC001', 'T001', 'No special request', 'Approved', '2024-09-01', '2024-09-02'),
    ('BK002', 'ACC002', 'T002', 'Please include extra information', 'Pending', '2024-09-05', NULL)

