@page
@model ShopCaKoi.WebApplication.Pages.InforTrip.CreateModel

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trip.TripId" class="control-label"></label>
                <input asp-for="Trip.TripId" class="form-control" />
                <span asp-validation-for="Trip.TripId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.DepartureDate" class="control-label"></label>
                <input asp-for="Trip.DepartureDate" class="form-control" />
                <span asp-validation-for="Trip.DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.ArrivalDate" class="control-label"></label>
                <input asp-for="Trip.ArrivalDate" class="form-control" />
                <span asp-validation-for="Trip.ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.FarmId" class="control-label"></label>
                <select asp-for="Trip.FarmId" class ="form-control" asp-items="ViewBag.FarmId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Trip.KoiId" class="control-label"></label>
                <select asp-for="Trip.KoiId" class ="form-control" asp-items="ViewBag.KoiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Price" class="control-label"></label>
                <input asp-for="Trip.Price" class="form-control" />
                <span asp-validation-for="Trip.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Description" class="control-label"></label>
                <input asp-for="Trip.Description" class="form-control" />
                <span asp-validation-for="Trip.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
