@page
@model ShopCaKoi.WebApplication.Pages.InCart.EmptyCartModel
@{
	ViewData["Title"] = "Empty Cart";
}
<h2>Your cart is empty</h2>
<p>It looks like you haven't added anything to your cart yet. <a href="/InKoi/Index">Start buy koi now!</a>Or<a href="/InTrip/Index">Start trip koi now!</a> </p>