@page
@model ShopCaKoi.WebApplication.Pages.Feedbacks.SuccessModel
@{
    ViewData["Title"] = "Thành Công";
}

<div class="container">
    <h2 class="mt-4">Gửi Phản Hồi Thành Công</h2>
    <p>Cảm ơn bạn đã gửi phản hồi. Chúng tôi sẽ xem xét phản hồi của bạn trong thời gian sớm nhất.</p>
    <a href="/Index" class="btn btn-primary mt-3">Quay về trang chủ</a>
</div>
