@page
@model ShopCaKoi.WebApplication.Pages.Profiles.SuccessModel
@{
    ViewData["Title"] = "Đăng Ký Thành Công";
}

<div class="container">
    <h2 class="mt-4">Chúc mừng bạn đã đăng ký thành công tài khoản </h2>
    <p>Cảm ơn bạn đã sử dụng website của chúng tôi.</p>
    <a href="/Index" class="btn btn-primary mt-3">Quay về trang chủ</a>
</div>
